@model SnackTrackMvc.Models.Snack

<h2>Snack Details</h2>

<p>Name: @Model.Name</p>
<p>Category: @Model.Category</p>
<p>Price: @Model.Price</p>
<p>Description: @Model.Description</p>

<a asp-action="Index">Back</a>